.chatContainer {
    display: flex;
    height: 93%;
    padding: .2%;
    gap: 2%;
}

.sidebar {
    width: 25%;
    background: white;
    border-radius: 16px;
    border: 0.1% solid #e0e0e0;
    overflow-y: auto;
    text-align: center;
}

.sidebar h6 {
    padding: 4%;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.chatWindow {
    width: 73%;
    background: white;
    border-radius: 16px;
    border: 0.1% solid #e0e0e0;
    display: flex;
    flex-direction: column;
}

.FirendInfoBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3%;
    border-bottom: 1px solid rgb(204, 204, 204);
    font-weight: 900;
}

.FirendInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.messageList {
    flex: 1;
    padding: 2%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.messageItem {
    max-width: 70%;
    padding: 1%;
    border-radius: 16px;
    font-size: 0.9rem;
    word-wrap: break-word;
    position: relative;
}

.msgTime {
    width: fit-content;
    position: absolute;
    bottom: -10;
    right: -5;
    padding: 1%;
    font-size: 100%;
    z-index: 2;
    font-weight: 900;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    text-align: center;
}

.myMessage {
    align-self: flex-end;
    background-color: #0a66c2;
    color: white;
}

.friendMessage {
    align-self: flex-start;
    background-color: #f3f2ef;
    color: rgba(0, 0, 0, 0.9);
}

.inputArea {
    padding: 2%;
    border-top: 0.1% solid #e0e0e0;
    display: flex;
    gap: 1%;
}

.friendItem {
    padding: 4%;
    border-bottom: 0.1% solid #f3f2ef;
    cursor: pointer;
}

.selectedFriend {
    background-color: #e8f3ff;
}