.search_box {
    width:40%;
    height: fit-content;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    /* padding: 0 1%; */
    padding:0 1%;
    /* background-color: rgb(43, 43, 43); */
    /* box-shadow: 0 0 1px 1px black; */
    border: 1px solid rgb(90, 90, 90);
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
}

.search_box:focus {
    border: 2px solid rgb(255, 0, 0);
}